<header class="w-full h-16 bg-transparent backdrop-blur-xs fixed px-4">
  <nav class="h-full w-full flex items-center">
    <span class="flex-auto"></span>
    <ul class="flex gap-4">
      @for(menuItem of menuItems; track menuItem.route) {
      <li class="text-neutral-300">
        <a
          [routerLink]="[menuItem.route]"
          routerLinkActive="text-gray-400"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ menuItem.text }}</a
        >
      </li>
      }
    </ul>
  </nav>
</header>
