<div
  class="h-full p-4 gap-4 flex flex-col justify-center lg:flex-wrap lg:flex-row items-center"
  aria-label="Brief introductory information"
>
  <section
    class="text-4xl md:text-7xl {{ themeStyles['text-secondary'] }}"
    aria-label="Full name and designation"
  >
    <p>Hi, I'm</p>
    <p>Carlton Noronha</p>
    <p #designations class="text-base md:text-xl blinking-underscore"></p>
  </section>
  <section aria-label="Photo">
    <div
      class="h-50 w-50 md:h-75 md:w-75 rounded-full border-10 border-neutral-300 overflow-hidden"
    >
      <img src="carlton.png" class="w-full h-full object-cover" />
    </div>
  </section>
</div>
