<ng-template
  #employmentHistoryHeader
  let-organization="organization"
  let-designation="designation"
  let-timeline="timeline"
>
  <div class="w-full flex flex-col items-center gap-2 {{ themeStyles['text-main'] }}">
    <h4>{{ organization }}</h4>
    <p>{{ designation }}</p>
    <p>{{ timeline }}</p>
  </div>
</ng-template>
<ng-template #employmentHistoryBody let-data="data">
  <ul>
    @for(item of data; track item) {
    <li>{{ item }}</li>
    }
  </ul>
</ng-template>

<section aria-label="Employment history graph" class="w-full h-full">
  <div
    class="py-8 flex justify-center items-center flex-col gap-y-4 md:py-8 md:flex-row md:gap-y-0 md:gap-x-16 md:items-start"
  >
    <p class="{{ themeStyles['text-secondary'] }} text-2xl md:text-3xl h-full">Experience</p>

    <div class="h-full flex flex-col">
      @for(data of employmentData; track data.headerData.timeline; let index = $index; let even =
      $even; let first = $first; let last = $last) {
      <div class="md:flex md:gap-x-4 md:items-center">
        <div class="hidden md:flex md:flex-col md:gap-y-2 md:items-center">
          <div
            class="h-9 w-0.5 {{ themeStyles['bg-secondary'] }}"
            [ngClass]="{
            'invisible': first
            }"
          ></div>
          <div class="h-4 w-4 rounded-full" [ngClass]="getVerticalBarStyles(first)"></div>
          <div
            class="h-9 w-0.5 {{ themeStyles['bg-secondary'] }}"
            [ngClass]="{
            'invisible': last
            }"
          ></div>
        </div>
        <div class="py-2">
          <app-card
            [header]="employmentHistoryHeader"
            [body]="employmentHistoryBody"
            [headerData]="data.headerData"
            [bodyData]="{ data: [] }"
            #card
            class="opacity-0 duration-1000 ease-in transition-opacity"
          />
        </div>
      </div>
      }
    </div>
  </div>
</section>
